bin/Release
bin/Debug
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/paket-files
/.fake
/.paket
/Aardvark.log
/.vs
/.paket/Paket.Restore.targets
/src/ModelUpdateView/.domaincache
/.ionide/
/.vscode/
*.domaincache
*.g.fs
**/.ionide/
**/paket-files/
**/.paket/
**/Aardvark.log