framework: netstandard2.0, net471, netcoreapp2.0
source https://api.nuget.org/v3/index.json

nuget FSharp.Core                           ~> 4.6.2
                                            
nuget Aardvark.Base                         ~> 4.5.10
nuget Aardvark.Base.Incremental             ~> 4.5.10
nuget Aardvark.Base.FSharp                  ~> 4.5.10
                                            
nuget Aardvark.Base.Rendering               ~> 4.10.2
nuget Aardvark.SceneGraph                   ~> 4.10.2
nuget Aardvark.SceneGraph.IO                ~> 4.10.2
                                                
nuget Aardvark.Application.Slim             ~> 4.10.2
nuget Aardvark.Application.Slim.GL          ~> 4.10.2
nuget Aardvark.Application.Slim.Vulkan      ~> 4.10.2

group Build
source https://api.nuget.org/v3/index.json
github aardvark-platform/aardvark.fake:v5