framework: netcoreapp3.1
source https://api.nuget.org/v3/index.json
storage: none

nuget FSharp.Data.Adaptive               ~> 0.0.17
nuget Aardvark.UI                        ~> 5.0.0 
nuget Aardvark.UI.Primitives             ~> 5.0.0 
nuget Aardvark.SceneGraph.IO             ~> 5.0.2
nuget Aardvark.Rendering.Text            ~> 5.0.2
nuget Aardvark.Application.Utilities     ~> 5.0.2
nuget Adaptify.MSBuild                   ~> 0.0.39
nuget Aardium                            ~> 1.0.30